body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#tabela img{
    width: 200px;
}

#tabela td{
    padding: 30px;
}

#card {
    width: 40%;
    margin: auto;

}

#card h3{
    margin-top: 20%;
    text-align: center;
}