body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cadetblue;
}

h1 {
    text-align: center;
    padding: 20px;
}



.calculadora {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    background-color: white;
    
}


.calculadora div{
    text-align: center;

}

.calculadora label{
    margin: auto;
    padding: 0px 70px 0px 70px;
}

.calculadora input {
    margin: 2px 0px 10px 0px;
}

.textoVermelho {
    color: red;
}

.textoAzul {
    color: blue;
}

.textoAmarelo {
    color: yellow;
}

.textoLaranja {
    color: orangered;
}

.textoRoxo {
    color: blueviolet;
}

.textoPreto {
    color: black;
}