body{
    background-color: gray;
    font-family: sans-serif;
}

h2{
    color: gray;
    font-weight: 300; 
    text-align: center;
}

.card1 {
    background-color: white;
    
}
.card {
    background-color: white;
    width: 30%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 0.1px;
}
.card input{
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
}

.card button{
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.card button:hover{
    background-color: gray;
    color: white;
    font-weight: 300;
    box-shadow: 0px 0px 10px rgba(0 , 0, 0, .1);
}


.imagem{
    width: 15px;
    float: right;
    cursor: pointer;
    padding: 2px;
    /* text-align: right;    */

}
