body { 
    background-color: gray;
    font-family: sans-serif;
}

h2 {
    color: gray;
    font-weight: 300;
    text-align: center;
}

.card1 {
    background-color: white;

}

.card {
    background-color: white;
    width: 30%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}

.card input {
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;

}