body{
    font-family: sans-serif;
    margin: 0px;
}

h1{
    margin: 0px;
}

nav{
    background-color: rgb(9, 163, 198);
    width: 30%;
    float: left;
    height: 100%;
    padding: 20px 0px;
    text-align: center;
    color: white;
    box-sizing: border-box;
    position: fixed;
    box-shadow: 5px 0px 10px gray;
    overflow: hidden;
    white-space: nowrap;
}

nav ul{
    margin: 0px;
    padding: 0px;
}

nav li{
    padding: 10px;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: white;
}

nav li:hover{
    background-color: rgb(13, 101, 121);
    cursor: pointer;
}



main{
    width: 70%;
    float: right;
}

main h1 {
    margin: 5% 0% 5% 0%;
    text-align: center;
}

.cadastro{
    text-align: center;
   
}

.cadastro input{
    width: 60%;
    margin-bottom: 10px;
    padding: 5px;
    /* border-radius: 10px; */
}

.sexo {
    text-align: center;
    margin: 0% 0% 3% 0%;
}

.sexo label{
    margin: 0% 0% 0% 2%;
}

.sexo input{
    margin: 0% 0% 0% 0%;
}

fieldset {
    margin: 1% 5% 4% 5%;
}

.localizacao {
    margin: 0% 0% 1% 5%;
}

.foto {
    margin: 0% 0% 1% 5%;
}

.datanasc {
    margin: 0% 0% 1% 5%;
}

.button{
    text-align: center;
}
.button button{
    padding: 10px;
    width: 10%;
    text-align: center;
    background-color: rgb(28, 94, 218);
    color: white;
    font-size: 12pt;
    margin: 5px;
}